@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rio De Janeiro - RJ.<br />
    Rua Fictícia Nº 1205 - Bairro<br />
    <abbr title="Telefone">T:</abbr>
    55 + (21) - 99437-7955
    <hr />
    <p><strong>Caso Necessite enviar um E-Mail, clique no campo acima "Enviar Email".</strong></p>
</address>

<address>
    <strong>Meu Site:</strong> <a href="http://pb-techprogramas.gear.host/index.cshtml">http://pb-techprogramas.gear.host</a><br />
    <strong>Link para YouTube:</strong> <a href="https://www.youtube.com/?hl=pt&gl=BR">https://www.youtube.com/?hl=pt&gl=BR</a>
</address>
