@{ 
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="pt-b">

<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="R1J0wa1hZDMYaEMbxg2Do_-riKjoAOPryv3UmByJi8E" />
    <title> Sistema Hospitalar </title>   
    <link rel="stylesheet" href="~/css/Estilot.css">
    <link rel="stylesheet" href="css/Normalize.css">
    <!-- ABAIXO: Estilo de fonte (Roboto) com suas variações pego no Google Font´s-->
    <link href="https://fonts.googleapis.com/css?family=Roboto: 400,100,300,500,700" rel="stylesheet" type="text/css" />
    <meta name="=&#8220;title" content=&#8220;Sistema hospitalar />
    <meta name="description" content="Sistema Hospitalar Software Hospitais Clinicas Consultorio Medico">
    <meta name="keywords" content=">Sistema Hospitalar - Software Desenvolvido para Hospitais em Geral, Clinicas e Consultórios, Software muito completo e eficiente" />
    <meta name="author" content="Paulo Cesar C. Bruno" />
</head>


<body id="topo">

    <div class="container" />
    <!--=============================================================================================-->
    <!--Usando duas colunas para meu Cabeçalho-->
   

    <!--duas culunas-->

    <header>

        <div class="row" />
        <div class="col col-2">
            <div>
                <h1><strong><em>Sistema Hospitalar&reg;</em></strong></h1>
            </div>
        </div>

        <div class="col col-2">

            <nav id="menu">
                <ul>
                    <li><a href="#Software">Software</a></li>
                    <li><a href="#Sobre">Sobre Mim</a></li>
                    <li><a href="#Videos">Video</a></li>
                    <li><a href="#Fotografia">Fale Comigo</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!--Usando duas colunas para meu Cabeçalho-->
    <!--=============================================================================================-->
    <div class="container" />


    <section>

        <!--uma coluna-->
        <div class="row" />
        <div class="col-content">

            <h2><em id="Software">O Software:</em></h2>
            <br />
            <img src="~/img/Hospitalar.png" alt="img/Hospitalar.png" />
            <br />
            <br />
            <p> O Software (SISTEMA HOSPITALAR) é um programa completo, robusto e eficiênte, trata-se de um sistema de gestão Hospitalar de alto nível.</p>
            <br />
            <p>O <a href="http://pb-techprogramas.gear.host/index.cshtml" target="_blank"> <em>desenvolvedor</em></a> pensou nos mínimos detalhes no tocante a varios aspectos do programa, como segurança, funcionalidade, facilidade de operação e aprendizado.</p>
            <br />
            <p>O Sistema é altamente versátil, tendo varias telas de cadastro, consultas, impressão de formulários, dentre outras, facilitando o dia-a-dia do controle de um Hospital desde pequeno a grande porte, assim como também Clinicas e Consultórios Médicos.</p>

            <br />
            <h3><em>Aspectos e atributos do Sistema</em></h3>
            <br />

            <p>O 'SISTEMA HOSPITALAR' tem em suas caracteristicas uma tela leve, agradável para os olhos do usuário, a interface se encaixa caracteristicamente com um ambiente hospitalar; O sistema conta com um Banco de Dados, onde as senhas dos usuários são criptografadas, proporcionando mais segurança e eficiência.</p>
            <br />
            <p>O Software controla a parte da rotina hospitalar, como triagem, contagem de dias de internação e seus custos, locais de acomodacão, contabilidade de medicamenos e insumos usados por cada paciente, cadastro e consulta de tudo que diz respeito a rotina diária de um hospital ou Clinica, além de ter a parte de controle de estoque de almoxarifado e farmácia, conta também com controle de funcionários tanto da área de saúde como da área administrativa, é possível também utilizar um leitor de código de barras e muito mais.</p>
            <br />
            <h2><em id="Sobre">Sobre Mim:</em></h2>
            <br />
            <img src="img/Programador.jpg" alt="img/Progarmador.jpg" />
            <br />
            <br />
            <p>Me Chamo Paulo Cesar C. Bruno, natural do Rio de Janeiro/RJ. - Tenho Formação Superior em Adminstração de Empresas e sou Técnico em T.I., hoje tenho 46 Anos e no decorrer da minha vida sempre me interessei por Tecnologia, sempre utilizando a informatica como ferramenta em toda a minha rotina.</p>
            <br />
            <p> Hoje em Dia sou um Respeitado Programador DeskTop/LapTop e desenvolvedor Web, com dominio de várias linguagens de Progração e Banco de Dados. </p>
            <br />
            <p>Meu trabalho gira em torno de confecção de sites WEB e  Programas (soluções) para qualquer tipo de necessidade, Como gestão automatizada e controles de qualquer rotina que envolva Banco de Dados, cálculos matemáticos, etc.., facilitando e muito a rotina  dos meus cliêntes em seus negócios</p>
            <br />
            <p>Confecciono Programas de controle de Dados e WebSites para Clinicas em geral, mercados, farmácias, restaurantes, qualquer tipo de comécio e muito mais</p>
            <br />
            <p>Se deseja uma solução para o controle informatizado do seu negócio eu tenho.</p>
            <br />
            <p>Abaixo segue meus contatos diretos, mas se preferir pode me enviar um E-Mail no Campo <strong><em>"Envie Sua Mensagem"</em></strong> deste Site que retornarei.</p>
            <br />
            <h3><em>Contato</em></h3>
            <p><em>paulocesarbruno025@gmail.com</em></p>
            <p><em>21 -99437-7955</em></p>
            <br />
            <h2><em>Algumas fotos do Programa:</em></h2>
            <br />
            <img id="hover" src="/img/Triagem.png" alt="img/Triagem.png" />
            <img id="hover" src="/img/Entrada_Paciente.png" alt="img/Entrada_Paciente.png" />
            <img id="hover" src="/img/Custos.png" alt="img/Custos.png" />
            <img id="hover" src="/img/multi.png" alt="img/multi.png" />
        </div>
        <!--===============================================================================================================================-->

        <div class="col col-sidebar">
            <div id="Curiosidades">

                <h2><em>A Programação.</em></h2>
                <br />
                <img src="~/img/Csharp.jpg" alt="img/CSharp.jpg" />
                <br />
                <p></p>
                <h3><em>Programação de computadores</em></h3>
                <br />

                <p>Programação é o processo de escrita, teste e manutenção de um programa de computador. O programa é escrito em uma linguagem de programação, embora seja possível, com alguma dificuldade, escrevê-lo diretamente em linguagem de máquina. Diferentes partes de um programa podem ser escritas em diferentes linguagens..</p>
                <br />
                <p>Diferentes linguagens de programação funcionam de diferentes modos. Por esse motivo, os programadores podem criar programas muito diferentes para diferentes linguagens; muito embora, teoricamente, a maioria das linguagens possa ser usada para criar qualquer programa.</p>
                <br />
                <h3><em>Algoritmos</em></h3>
                <br />
                <p>Um algoritmo é uma sequência de passos para realizar uma tarefa ou resolver um problema. Em nosso dia a dia utilizamos algoritmos para realizar nossas atividades, definindo a sequência de atividades que devemos fazer para atingir um objetivo. Um exemplo simples é uma receita. Um algoritmo é, num certo sentido, um programa abstrato — dizendo de outra forma, um programa é um algoritmo concretizado. Os programas são visualizados mais facilmente como uma coleção de algoritmos menores combinados de um modo único — da mesma forma que uma casa é construída a partir de componentes.</p>
                <br />
                <h3><em>História </em></h3>
                <br />
                <p>
                    História das linguagens de programação
                    Um bug, que foi depurado em 1947.
                    Heron de Alexandria no século primeiro inventou teatros automatizados que usavam programação análoga para controlar os fantoches, portas, luzes e efeitos de som.

                    A mais antiga programadora de computadores que se conhece é Ada Lovelace, filha de Anabella e de Lord Byron (o poeta). Ao serviço do matemático Charles Babbage, traduziu e expandiu uma descrição da sua máquina analítica. Muito embora Babbage nunca tenha completado a construção de nenhuma das suas máquinas, o trabalho que ele e Ada desenvolveram sobre elas, garantiu a Ada o título de primeira programadora de computadores do mundo (veja as notas de Ada Byron sobre a máquina analítica). A linguagem de programação Ada recebeu o seu nome em homenagem à Ada.

                    Um dos primeiros programadores que se tem notícia de ter completado todos os passos para a computação sem auxílio, incluindo a compilação e o teste, é Wallace J. Eckert. O trabalho deste homem antecede a ascensão das linguagens de computador, porque ele usou a linguagem da matemática para solucionar problemas astronômicos. No entanto, todos os ingredientes estavam lá: ele trabalhou um laboratório de computação para a Universidade de Columbia com equipamentos fornecidos pela IBM, completos com uma divisão de serviço de atendimento ao cliente, e consultores de engenharia para propósitos especiais, na cidade de Nova York, na década de 1930, usando cartões perfurados para armazenar os resultados intermediários de seus cálculos, e então formatando os cartões perfurados para controlar a impressão das respostas, igual ao trabalho para os censos décadas antes. Tinha técnicas de debug tais como códigos de cores, bases cruzadas, verificação e duplicação. Uma diferença entre Eckert e os programadores dos dias de hoje é que o exemplo do seu trabalho influenciou o projeto Manhattan. Seu trabalho foi reconhecido por astrônomos do Observatório da Universidade de Yale, Observatório da Universidade de Princeton, Observatório da Marinha dos EUA, Observatório da Faculdade Harvard, Observatório dos estudantes da Universidade da Califórnia, Observatório Ladd da Universidade de Brown e Observatório Sproul da Faculdade de Swarthmore.

                    Alan Turing é frequentemente encarado como o pai da ciência de computadores e, por afinidade, da programação. Ele foi responsável por ajudar na elaboração e programação de um computador destinado a quebrar o código alemão ENIGMA durante a Segunda Guerra Mundial
                </p>

                <div id="area">

                    <div id="Videos">
                        <br />
                        <h2 id="video"> <em>Demonstração do Programa</em></h2>
                        <br />
                        <br />
                        <iframe width="443" height="360" src="https://www.youtube.com/embed/vWxZ-PfTEho" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <br />
                    </div>
                    <div>
                        <br />
                        <br />
                    </div>

                    <div id="Fotografia">

                        <h2><em>Paulo Bruno - Programador</em></h2>
                        <br />
                        <br />
                        <img src="~/img/Foto.jpg" alt="img/Foto.jpg" />
                        <br />
                        <br />
                        <p><strong>Para Entrar em contato comigo clique nos campos acima:</strong></p>
                        <p><strong>"Contato" ou "Enviar E-Mail".</strong></p>
                    </div>                  
                </div>
            </div>
        </div>

    </section>
    <!--===============================================================================================================================-->

    <footer>

        <!--uma coluna-->
        <div class="row" />
        <div class="col" />
        <p><em>&copy; PB_Tech-Programming - Por: Paulo Bruno (desenvolvedor).</em></p>
        <div id="topo">
            <a style="color: Gray; float: right;" href="#topo"><em>Voltar/Topo</em></a>
        </div>

    </footer>

    <!--===============================================================================================================================-->

</body>